@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .navbar {
        @apply fixed left-1/2 -translate-x-1/2 
        flex items-center justify-center
        rounded-full w-fit mt-5
        bg-[#252525] bg-opacity-70 backdrop-blur-sm 
    }

    .navbar .links {
        counter-reset: navLinkCount;
    }

    .navbar .links li::before {
        content: "0" counter(navLinkCount) ".";
        counter-increment: navLinkCount;
        color: #00D42F;
        font-family: monospace;
        font-size: 16px;
        margin-right: 2px;
    }
}
