@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brand-primary: #00D42F
}

html {
    counter-reset: headingCount;
    scroll-behavior: smooth;
}

.custom-button {
    min-width: 147px;
    text-align: center;
    user-select: none;
    color: var(--brand-primary);
    padding: 12px;
    border-radius: 6px;
    font-family: monospace;
    font-size: 16px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: border-radius 200ms 100ms ease-in-out;
}

.dark-button {
    border: solid 1px white;
    background: black;
    box-shadow:
        7px 7px 0 0px rgb(0, 0, 0),
        7px 7px 0 1px rgb(255, 255, 255);
}

.light-button {
    border: solid 1px black;
    background: rgb(255, 255, 255);
    box-shadow:
        7px 7px 0 0px rgb(255, 255, 255),
        7px 7px 0 1px rgb(0, 0, 0);
}

.custom-button:active {
    transform: translate(8px, 8px);
    box-shadow: none;
}

.custom-button:hover {
    border-radius: 12px;
    transition: border-radius 100ms ease-in-out;
}

@layer components {
    .navbar::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(37, 37, 37, 0.7);
        backdrop-filter: blur(5px);
        z-index: -1;
    }

    .navbar {
        @apply fixed left-1/2 -translate-x-1/2 flex items-center justify-center rounded-full w-fit mt-5 z-20 overflow-hidden
    }

    .navbar .links {
        opacity: 1;
        counter-reset: navLinkCount;
    }

    .navbar .links a::before {
        content: "0" counter(navLinkCount) ".";
        counter-increment: navLinkCount;
        color: var(--brand-primary);
        font-family: monospace;
        font-size: 16px;
        margin-right: 2px;
    }

    .navbar .links li {
        transition: color 200ms ease-in-out;
    }

    .navbar .links li:hover {
        color: var(--brand-primary);
        transition: color 100ms ease-in-out;
    }

    .section-title {
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;
    }

    .section-title::before {
        content: counter(headingCount) ". ";
        counter-increment: headingCount;
        color: var(--brand-primary);
        font-family: monospace;
        font-size: 36px;
    }

    .icon {
        @apply text-[#BABABB] cursor-pointer hover:text-brand-primary transition-colors duration-200 ease-in-out
    }
}